@import "./flex.css";
@import "./signup.css";
@import "./lineheight.css";
@import "./padding.css";
@import "./color.css";
@import "./margin.css";
@import "./fonts.css";
@import "./border.css";
@import "./size.css";
@import "./bgc.css";
@import "./position.css";
@import "./opacity.css";
@import "./text.css";
@import "./sidebar.css";
@import "./chart.css";
@import "./littlethings.css";
@import "./react-big-calendar.css";
@import "./speedometer.css";
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, button {
  margin: 0;
  padding: 0;
  border: 0;
  /*font-size: 100%;*/
  /*font-family: inherit;*/
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  background: #23334c;
  overflow-x: hidden;
}

* {
  /* font-family: "Helvetica Neue";; */
  font-family: 'Source Sans Pro', sans-serif;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

button {
  outline: none;
  cursor: pointer;
}

input {
  outline: none;
}

a {
  text-decoration: none;
  color: inherit;
}

table {
  border-collapse: collapse;
}

.min_width_1366px {
  min-width: 1366px;
}

.pointer {
  cursor: pointer;
  user-select: none;
}

/* WIDTH */
.w_100 {
  width: 100%;
}
.w_85 {
  width: 85%;
}
.w_75 {
  width: 75%;
}
.w_49 {
  width: 49%;
}
.w_50 {
  width: 50%;
}
.w_50px {
  width: 50px;
}
.w_30 {
  width: 30px;
}
.w_25 {
  width: 25%;
}
.w_40 {
  width: 40%;
}
.w_110 {
  width: 110px;
}
.w_137 {
  width: 137px;
}
.w_28px{
  width: 28px;
}
.w_100_50px {
  width: calc(100% - 50px);
}
.w_h_7 {
  width: 7px;
  height: 7px;
}
.w_h_10 {
  width: 10px;
  height: 10px;
}
.w_h_32 {
  width: 32px;
  height: 32px;
}
/* END WIDTH */

/* HEIGHT */
.h_100 {
  height: 100%;
}
.h_auto {
  height: auto;
}
.h_30 {
  height: 30px;
}
.h_35 {
  height: 35px;
}
.h_20 {
  height: 20px;
}
.h_28px{
  height: 28px;
}
/* END HEIGHT */

/* FONT SIZES */
.fs_10 {
  font-size: 10px;
}
.fs_12 {
  font-size: 12px;
}
.fs_14 {
  font-size: 14px;
}
.fs_16 {
  font-size: 16px;
}
.fs_18 {
  font-size: 18px;
}
.fs_24 {
  font-size: 24px;
}
.fs_30 {
  font-size: 30px;
}
.fs_36 {
  font-size: 36px;
}
.fs_50 {
  font-size: 50px;
}
/* END FONT SIZES */

/* FONT WEIGHT */
.fw_300 {
  font-weight: 300;
}
.fw_400 {
  font-weight: 400;
}
.fw_500 {
  font-weight: 500;
}
.fw_600 {
  font-weight: 600;
}
.fw_700 {
  font-weight: 700;
}
/* END FONT WEIGHT */

/* BG COLOR */
.bg_d8dadc {
  background-color: #d8dadc;
}
.bg_fafafa {
  background-color: #fafafa;
}
.bg_3fb44f {
  background-color: #3fb44f
}
.bg_39b54a {
  background-color: #39b54a;
}
.bg_f1f1f1 {
  background-color: #f1f1f1;
}
.bg_feeeed {
  background-color: #feeeed;
}
.bg_f5f5f5 {
  background-color: #f5f5f5;
}
.bg_ffffff {
  background-color: #ffffff;
}
.bg_616b75 {
  background-color: #616b75;
}
.bg_e5e5e6 {
  background-color: #e5e5e6;
}
.bg_red {
  background-color: red;
}
.bg_f95a5a {
  background-color: #f95a5a;
}
.bg_0_06 {
  background-color: rgba(0, 0, 0, 0.6);
}
.bg_39b54a_03 {
  background-color: rgba(57,181,74, 0.3);
}
/* END BG COLOR */

/* TEXT COLOR */
.c_3fb44f {
  color: #3fb44f;
}
.c_f7554e {
  color: #f7554e;
}
.c_686868 {
  color: #686868;
}
.c_39b54a {
  color: #39b54a;
}
.c_2a2d34 {
  color: #2a2d34;
}
.c_ffffff {
  color: #ffffff;
}
.c_616b75 {
  color: #616b75;
}
.c_232a31 {
  color: #232a31
}
.c_626262 {
  color: #626262;
}
.c_f55753 {
  color: #f55753;
}
.c_red {
  color: red;
}
/* END TEXT COLOR */

/* MARGINS */
.mh_19 {
  margin: 19px 0;
}
.mw_20 {
  margin-left: 20px;
  margin-right: 20px;
}
.mh_40 {
  margin-top: 40px;
  margin-bottom: 40px;
}
.mw_auto {
  margin: 0 auto;
}
.mt_2 {
  margin-top: 2px;
}
.mt_8 {
  margin-top: 8px;
}
.mt_50 {
  margin-top: 50px;
}
.mt_30 {
  margin-top: 30px;
}
.mt_10 {
  margin-top: 10px;
}
.mt_15 {
  margin-top: 15px;
}
.mt_20 {
  margin-top: 20px;
}
.mt_25 {
  margin-top: 25px;
}
.mt_35 {
  margin-top: 35px;
}
.mt_125 {
  margin-top: 125px;
}
.mt_200 {
  margin-top: 200px;
}
.mb_4 {
  margin-bottom: 4px;
}
.mb_5 {
  margin-bottom: 5px;
}
.mb_15 {
  margin-bottom: 15px;
}
.mb_20 {
  margin-bottom: 20px;
}
.mb_25 {
  margin-bottom: 25px;
}
.mb_10 {
  margin-bottom: 10px;
}
.mb_30 {
  margin-bottom: 30px;
}
.mb_40 {
  margin-bottom: 40px;
}
.mb_55 {
  margin-bottom: 55px;
}
.mr_5 {
  margin-right: 5px;
}
.mr_10 {
  margin-right: 10px;
}
.mr_15 {
  margin-right: 15px;
}
.mr_20 {
  margin-right: 20px;
}
.mr_30 {
  margin-right: 30px;
}
.mr_60 {
  margin-right: 60px;
}
.mr_225 {
  margin-right: 225px;
}
.ml_m1 {
  margin-left: -1px;
}
.ml_5 {
  margin-left: 5px;
}
.ml_10 {
  margin-left: 10px;
}
.ml_12 {
  margin-left: 12px;
}
.ml_20 {
  margin-left: 20px;
}
.ml_30 {
  margin-left: 30px;
}
.ml_44 {
  margin-left: 44px;
}
/* END MARGINS */

.tt_up {
  text-transform: uppercase;
}
.td_ul {
  text-decoration: underline;
}
.ta_l {
  text-align: left;
}
.center {
  text-align: center;
}
.pd_5 {
  padding: 5px;
}
.pd_10 {
  padding: 10px;
}
.pd_20 {
  padding: 20px;
}
.pd_13 {
  padding: 13px;
}
.pd_5_9 {
  padding: 5px 9px;
}
.pd_5_13 {
  padding: 5px 13px;
}
.pd_3_5 {
  padding: 3px 5px;
}
.pw_20 {
  padding: 0 20px;
}
.pdw_10 {
  padding-left: 10px;
  padding-right: 10px
}
.pdw_30 {
  padding-left: 30px;
  padding-right: 30px;
}
.pdh_20 {
  padding-top: 20px;
  padding-bottom: 30px;
}
.op_06{
  opacity: 0.6;
}
.op_064 {
  opacity: 0.64;
}
.op_04 {
  opacity: 0.4;
}
.op_045 {
  opacity: 0.45;
}
.op_03 {
  opacity: 0.3;
}
.op_1 {
  opacity: 0;
}
.ps_rel {
  position: relative;
}
.ps_abs {
  position: absolute;
}
.fl_left {
  float: left;
}
.hidden {
  display: none;
}

.lh_0 {
  line-height: 0px;
}
.lh_8 {
  line-height: 8px;
}
.lh_20 {
  line-height: 20px;
}
.lh_22 {
  line-height: 22px;
}
.lh_24 {
  line-height: 24px;
}
.lh_14 {
  line-height: 14px;
}
.lh_64 {
  line-height: 64px;
}
.lh_35 {
  line-height: 35px;
}
.lh_30 {
  line-height: 30px;
}
.lh_52 {
  line-height: 52px;
}

.t_20 {
  top: 20px;
}
.t_30 {
  top: 30px;
}
.b_0 {
  bottom: 0;
}
.b_none {
  border: none;
}
.b_20 {
  bottom: 20px;
}
.r_0 {
  right: 0;
}
.r_103 {
  right: 103px;
}
.r_20 {
  right: 20px;
}
.bt_gray {
  border-top: 1px solid rgba(35,42,49, 0.08);
}
.b_1_d8dadc {
  border: 1px solid #d8dadc;
}
.bb_gray {
  border-bottom: 1px solid rgba(35,42,49, 0.08);
}
.bb_green {
  border-bottom: 2px solid #39b54a;
}
.br_gray {
  border-right: 1px solid rgba(35,42,49, 0.08);
}
.bl_gray {
  border-left: 1px solid rgba(35,42,49, 0.08);
}
.br_3 {
  border-radius: 3px;
}
.br_100 {
  border-radius: 100%;
}
.pdw_243 {
  padding: 0 243px;
}
.pdw_20 {
  padding-left: 20px;
  padding-right: 20px;
}
.pdh_20 {
  padding-top: 20px;
  padding-bottom: 20px;
}
.pdh_10 {
  padding-top: 10px;
  padding-bottom: 10px;
}
.pdh_7 {
  padding-top: 7px;
  padding-bottom: 7px;
}
.pd_5_7 {
  padding: 5px 7px 5px 7px;
}
.pdr_20 {
  padding-right: 20px;
}
.b_gray {
  border: 1px solid #d8dadc;
}
.border_39b54a{
  border: 1px solid #39b54a;
}

.error {
  position: absolute;
  top: 0;
  width: 300px;
  height: auto;
  left: calc((100% - 300px) / 2);
  padding: 5px;
}
.errorClose {
  color: #ffffff;
  background-color: #f95a5a;
  font-size: 15px;
  float: right;
}

.tar {
  text-align: right;
}

.tac {
  text-align: center;
}

.lh_30px {
  line-height: 30px;
}
