.border-bottom-input {
    border: 0;
    outline: 0;
    background: transparent;
    border-radius: 0px;
    width: 100%;;
    padding-top: 1rem;
    font-size: 14px;
    color: #fff;
    border-bottom: 1px solid #fff !important;
}
.searchinput{
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid #fff;
    border-radius: 0px;
    width: 100px;
    font-size: 14px;
    color: #fff;
}

.departmentInput{
    border: 0px !important;
    background-color: #26364f;
    border-bottom: 1px solid #fff !important;
    border-radius: 0px !important;
    color: #fff;
    padding-top: 1rem;
}
.showall{
    height: auto;
    transition: ease-in-out;
}
textarea{
    resize: none;
}
textarea {
    border: none;
    overflow: auto;
    outline: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.Dropdown-control{
    border-bottom: 1px solid #fff !important;
    width: 100% !important;
    text-align: left;
}