.opacity051{
    opacity: 0.51;
}
.opacity01{
    opacity: 0.3;
}
/* .opacity02{
    opacity: 0.2;
} */
.opacity013{
    opacity: 0.13;
}
.opacity03{
    opacity: .3;
}
.z-index-100{
    z-index: 100;
}
