.pos-rel{
  position: relative;
}
.pos-abs{
  position: absolute;
}
.top-0{
  top: 0;
}
.top-15{
  top: -15%;
}
.top--15{
  top: 15%;
}
.top-1rem{
  top:1rem;
}
.top-130px{
  top: 130px;
}
.top--1rem{
  top:-1rem;
}
.top--1rem{
  top:-1rem;
}
.top--1-2rem{
  top:-1.2rem;
}
.top-2rem{
  top:2rem;
}
.top-3rem{
  top:3rem;
}
.top--60px{
  top: -90px;
  margin-right: 2rem;;
}
.top--59{
  top: -59px;
}
.top--93{
  top: -93px;
}
.top--261{
  top: -261px;
}
.top--321{
  top: -321px;
}
.left--1rem{
  left: -1rem;
}
.left--1-5rem{
  left: -1.5rem;
}
.left--1-7rem{
  left: -1.7rem;
}
.left-16px{
  left: 16px;
}
.left--20px{
  left:-20px;
}
.left-380px{
  left:380px;
}
.right-0{
  right: 0;
}
