.signInput{
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid #056ea2;
    font-size:.9rem;
    color:#fff;
    border-radius:0;
    padding:0;
  }
.Dropdown-control{
    border: 0 !important;
    outline: 0 !important;
    background: transparent !important;
    border-bottom: 1px solid #056ea2 !important;
    font-size:.9rem !important;
    color:#fff !important;
    width: 27rem !important;
}
.Dropdown-option{
   border: 0 !important;
    outline: 0 !important;
    background: #23334c !important;
    font-size:.9rem !important;
    color:#fff !important;
}
.Dropdown-menu{
    border: 0 !important;
   outline: 0 !important;
   background: #23334c !important;
   font-size:.9rem !important;
   color:#fff !important;
}
