.h-auto{
    height: auto;
}
.h100{
    height: 100%;;
}
.h-7px{
    height:7px;
}
.h-10px{
    height:10px;
}
.h-13px{
    height:13px;
}
.h-35px{
    height: 35px;
}
.h-40px{
    height: 40px;
}
.h-46px{
    height: 46px;
}
.h-50px{
    height: 50px;
}
.h-100px{
    height: 100px;
}
.h-384px{
    height: 384px;
}
.h-07rem{
    height: .7rem;
}
.h-1rem{
    height: 1rem;
}
.h-1-5rem{
    height: 1.5rem;
}
.h-2rem{
    height: 2rem;
}
.h-3rem{
    height: 3rem;
}
.h-3-6rem{
    height: 3.6rem;
}
.h-4rem{
    height: 4rem;
}
.h-4-4rem{
    height: 4.4rem;
}
.h-5rem{
    height: 5rem;
}
.h-6rem{
    height: 6rem;
}
.h-7rem{
    height: 7rem;
}
.h-8rem{
    height: 8rem;
}
.h-9rem{
    height: 9rem;
}
.h-10rem{
    height: 10rem;
}
.h-12rem{
    height: 12rem;
}
.h-13rem{
    height: 13rem;
}
.h-14rem{
    height: 14rem;
}
.h-15rem{
    height: 15rem;
}
.h-17rem{
    height: 17rem;
}
.h-18rem{
    height: 18rem;
}
.h-20rem {
    height: 20rem;
}
.h-23rem{
    height: 23rem;
}
.h-24rem {
    height: 24rem;
}
.h-27rem {
    height: 27rem;
}
.h-32rem {
    height: 32rem;
}
.h-31rem {
    height: 31rem;
}
.h-36rem {
    height: 36rem;
}
.h-40rem {
    height: 40rem;
}
.h-105rem{
    height: 10.5rem;
}
.h-135rem{
    height: 13.5rem;
}
.h-10vh{
    height: 10vh;
}
.h-80vh{
    height: 80vh;
}
.h-90vh{
    height: 90vh;
}
.h-100vh{
    height: 100vh;
}
.w-13{
    width:13%;
}
.w-15{
    width: 15%;
}
.w-22{
    width:22%;
}
.w-23{
    width:23%;
}
.w-24{
    width:24%;
}
.w-25{
    width:25%;
}
.w-48{
    width:48% !important;
}
.w-49{
    width:49% !important;
}
.w-50{
    width:50%;
}
.w-60{
    width:60%;
}
.w-75{
    width:75%;
}
.w-79{
    width:79%;
}
.w-100{
    width:100% !important;
}
.w-475{
    width:47.5%;

}
.w-20px{
    width:20px ;
}
.w-32px{
    width:32px ;
}
.w-50px{
    width:50px ;
}
.w-70px{
    width:70px;
}
.w-150px{
    width:150px;
}
.w-160px{
    width:160px;
}
.w-230px{
    width:230px;
}
.w-300px{
    width: 300px;
}
.w-331px{
    width: 331px;
}
.w-430px{
    width: 430px;
}
.w-480px{
    width: 480px;
}
.w-544px{
    width: 544px;
}
.w-700px{
    width: 700px;
}
.w-1rem{
    width: 1rem;
}
.w-2rem{
    width: 2rem;
}
.w-3rem{
    width: 3rem;
}
.w-4rem{
    width: 4rem;
}
.w-5rem{
    width: 5rem;
}
.w-6rem{
    width: 6rem;
}
.w-9rem{
    width: 9rem;
}
.w-14rem{
    width: 14rem;
}
.w-15rem{
    width: 15rem;
}
.w-20rem{
    width: 20rem;
}
.w-24rem{
    width: 24rem;
}
.w-27rem{
    width: 27rem;
}
.w-30rem{
    width: 30rem;
}
.w-37rem{
    width: 37rem;
}


.overflowyscroll{
    overflow-y: scroll;
}
.overflowyhidden{
    overflow-y: hidden;
}